/*侧边栏*/
.hide{display:none}.side_bar{position:fixed;left:50%;margin-left:500px;bottom:20px;width:48px;z-index:10000}.side_bar li{margin:3px 0}.side_bar a{display:inline-block;padding:10px 10px;line-height:14px;color:#FFF}.side_bar a:hover{color:#000}
/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
